PXQBA/PXShared/PX/Bfw.PX.SSO/Bfw.PX.SSO/Web References/RAGetCourseSiteID/RAGetCourseSiteID.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetAgilixCourseID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sUrl" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAgilixCourseIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAgilixCourseIDResult" type="tns:SiteInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SiteInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SiteID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SiteDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BaseURL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AgilixSiteID" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAgilixCourseIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetAgilixCourseID" />
  </wsdl:message>
  <wsdl:message name="GetAgilixCourseIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetAgilixCourseIDResponse" />
  </wsdl:message>
  <wsdl:portType name="RAGetAgilixCourseIDSoap">
    <wsdl:operation name="GetAgilixCourseID">
      <wsdl:input message="tns:GetAgilixCourseIDSoapIn" />
      <wsdl:output message="tns:GetAgilixCourseIDSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RAGetAgilixCourseIDSoap" type="tns:RAGetAgilixCourseIDSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAgilixCourseID">
      <soap:operation soapAction="http://tempuri.org/GetAgilixCourseID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RAGetAgilixCourseIDSoap12" type="tns:RAGetAgilixCourseIDSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAgilixCourseID">
      <soap12:operation soapAction="http://tempuri.org/GetAgilixCourseID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RAGetAgilixCourseID">
    <wsdl:port name="RAGetAgilixCourseIDSoap" binding="tns:RAGetAgilixCourseIDSoap">
      <soap:address location="http://192.168.78.92:81/RAGetCourseSiteID/RAGetCourseSiteID.asmx" />
    </wsdl:port>
    <wsdl:port name="RAGetAgilixCourseIDSoap12" binding="tns:RAGetAgilixCourseIDSoap12">
      <soap12:address location="http://192.168.78.92:81/RAGetCourseSiteID/RAGetCourseSiteID.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>